language: go
go:
- 1.10.x
sudo: required
install:
- curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get | bash
script:
- make bootstrap test
before_deploy:
- VERSION=${TRAVIS_TAG} make dist
deploy:
  provider: releases
  api_key: "${env.GITHUB_OAUTH_TOKEN}"
  file_glob: true
  file: _dist/*
  skip_cleanup: true
  on:
    tags: true
env:
  global:
    secure: lvUj4R449NTWhLqtrZ3rJyw9DDYvrMZ7uc44UPpOY1lXJbLz3r92jFKFkobMnA2zD0ZLzs2/ESylsNeo/3pvY7YBRIqWT1EZtlkHUPfqx8j3s8Z/LCREiJk0akEwfXFMUykQ34jVGHMSbIGYwzxiXd1HiJzpYLxEBKFCDCIhgcEj3qOEUUgQoII7qaaJbOVBrl8tyGOsnttWGkjWhTAAWdn+gZ+ESjIsV/3E8PC3TN7jkb8O4nsP3gA64Hs4mM+Syriwq7jAKKTwR/12ljZOedsH9H8ipIR1xrmmLBt5NLF9CkvaOY70iBo4clB0+Pr/o+bAaL0Wdxe/8ZO1EE7U0xjQvZsnXjWfUVWrE2lMvIY6hCMFjm72lc5xeYvBpAoLE2gops5M2d7jli7I4MA41RHjLIPjP+yE70QAcK6FIZarvyOalHJtnpPQEiu0an9w3hN+VwCZ3gRRFO18Oj5X7t9VqGfrP3ERRtL1yGBcSPw+fPGTIVNKNAo6PWZIE2vRpJhGWypQN3giVGOu0b5SJnI/yil1antcvKH8We2/1v6H5vXTh8IL7/yBE48NBMJ0UL6VovuzgOefLsK1CJ1WV0w/3YyIFCtyXwfrIa1O+tLENKNpwP2BydmoT4cCSql6JUfu/WJy4F0L9fqMBQgIO0kZfnH44DjoxtFzfjLa1Ss=
